<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<link type="text/css" href="~/css/lite-style-1.min.css" rel="stylesheet" />

<div class="dt-card dt-card__full-height">

    <div class="dt-card__header" style="justify-self">
        <h4 class="mb--15">Lista de Personas</h4>
        <h1 class="display-4">Martín Alberto Lapizco Ruiz</h1>

        <div>
            <button class="btn btn-success" data-toggle="modal" data-target="#Add">Agregar persona</button>
        </div>
    </div>
    <div class="card-body">

        <table class="table" id="table3">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Edad</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var per in ViewBag.Personas)
                {
    <tr>
        <td>@per.Nombre</td>
        <td>@per.Correo</td>
        <td>@per.Edad</td>
        <td>
            <button class="btn btn-warning" onclick="DetailsPersona(@per.Id, 'Editar')">Editar</button>
            <button class="btn btn-danger" onclick="RemovePersona(@per.Id)">Eliminar</button>
            <button class="btn btn-primary" onclick="DetailsPersona(@per.Id, 'Detalle')">Detalles</button>
        </td>
    </tr>}
            </tbody>
        </table>
    </div>
</div>

@*Create Persona Modal*@
<div class="modal fade" id="Add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:45em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar persona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="CreatePersonaForm">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="NombreC" id="NombreC" maxlength="50" placeholder="Nombre de la persona" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Correo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="CorreoC" id="CorreoC" maxlength="50" placeholder="Correo de la persona" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Edad</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" name="EdadC" id="EdadC" max="150" placeholder="Edad de la persona" autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group float-right">
                        <button type="button" id="btnCreatePersona" onclick="CreatePersona()" class="btn btn-success">Guardar</button>
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*Update Persona Modal*@
<div class="modal fade" id="Update" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:45em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar persona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form id="UpdatePersonaForm">
                    <input type="hidden" />
                    <input type="hidden" id="Id" name="Id" />

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="NombreU" name="NombreU" maxlength="50" placeholder="Nombre de la persona" required autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Correo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="CorreoU" name="CorreoU" maxlength="50" placeholder="Correo de la Persona" required autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Edad</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="EdadU" name="EdadU" max="150" placeholder="Edad de la Persona" required autocomplete="off">
                        </div>
                    </div>

                    <div class="form-group float-right">
                        <button type="button" id="btnUpdatePersona" onclick="UpdatePersona()" class="btn btn-success">Guardar</button>
                        <button data-dismiss="modal" class="btn btn-danger">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*Details Persona Modal*@
<div class="modal fade" id="Detalles" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width:45em;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalles persona</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <form id="DetallesPersonaForm">
                    <input type="hidden" />

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Nombre</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="NombreD" name="NombreD" maxlength="50" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Correo</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="CorreoD" name="CorreoD" maxlength="50" disabled>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Edad</label>
                        <div class="col-sm-10">
                            <input type="number" class="form-control" id="EdadD" name="EdadD" max="150" disabled>
                        </div>
                    </div>

                    <div class="form-group float-right">
                        <button data-dismiss="modal" class="btn btn-danger">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>

<script src="~/js/Personas/Personas.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

